<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.asiainfo.dao.until.KafkaLagHisDao">
    <resultMap id="kafkaLagHisMap" type="com.asiainfo.model.KafkaLagHisEnity">
        <result column="group_id" property="groupId" />
        <result column="topic" property="topic" />
        <result column="partition" property="partition" />
        <result column="current_offset" property="currentOffset" />
        <result column="log_end_offset" property="logEndOffset" />
        <result column="lag" property="lag" />
        <result column="operation_time" property="operationTime" />
        <result column="id" property="id" />
    </resultMap>

    <resultMap id="kafkaConfigMap" type="com.asiainfo.model.kafka.KafkaConfigEntity">
        <result column="id" property="id" />
        <result column="group_id" property="groupId" />
        <result column="topic" property="topic" />
        <result column="lable" property="lable" />
        <result column="sys_code" property="sysCode" />
        <result column="level" property="level" />
    </resultMap>

    <insert id="insertKafkaLagHis">
        insert into kafka_lag_his
        values
        (#{kafkaLagHisEnity.id},#{kafkaLagHisEnity.groupId},#{kafkaLagHisEnity.topic},#{kafkaLagHisEnity.partition},#{kafkaLagHisEnity.currentOffset},#{kafkaLagHisEnity.logEndOffset},#{kafkaLagHisEnity.lag},#{kafkaLagHisEnity.operationTime})
    </insert>

    <select id="getKafkaLagHis" resultMap="kafkaLagHisMap">
        SELECT SUM(log_end_offset) as log_end_offset ,topic,operation_time from kafka_lag_his t where    operation_time &lt;=#{end} and operation_time &gt;= #{start}  GROUP BY topic,operation_time ORDER BY topic;
    </select>

   <select id="getKafkaTopicsHis" resultType="java.lang.String">
        SELECT DISTINCT (topic) from kafka_lag_his;
    </select>
    <select id="getTopicAndGroup" resultMap="kafkaConfigMap">
        SELECT * from kafka_config t where t.level=#{kafkaConfigEntity.level} and t.sys_code=#{kafkaConfigEntity.sysCode};
    </select>


</mapper>